section{
    margin-bottom: 3rem;
}

#section-banner{
    /* background-color: rgb(255, 255, 255); */
}
#section-event{
    /* background-color: rgb(0, 0, 0); */
    background-color: black;
    color: white;
}
#section-about{
}

/* nav */
    nav{
        position: fixed;
        top: 0;
        left: 0;
    }
/* end nav */

/* button back */
    .button-back{
        font-size: 43px;
        position: fixed;
        bottom: 10px;
        right: 15px;    
        color: orange;
        cursor: pointer;
        z-index: 9;
    }
/* end button back */

/* banner */
    #section-banner img{
        width: 100%;
        height: 100vh;
    }

    #section-banner{
        position: relative;
    }
    
    #section-banner .container{
        position: absolute;
        top: 11%;
        right: 7%;
    }

    .banner-detail{
        margin: 5rem 2rem;
        text-align: center;
    }

    .banner-header h1{
        font-size: 50px;
    }
/* end banner */

/* about */
    #section-about h2{
        text-align: center;  
        margin-bottom: 2rem;  
    }

    .about-main{
        display: flex;
        justify-content: space-around;
    }

    .about-item{
        width: 30%;
        text-align: center;
        border: none;
    }

    .about-main img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .card img{
        height: 300px;
    }
/* end about */

/* event */
    .event-main img{
        width: 100%;
        border-radius: 15px;
    }

    .event-main{
        display: flex;
        /* padding: 2rem; */
    }

    .event-left, .event-right{
        width: 50%;
        padding: 6rem 0;
    }

    .event-left{
        padding-right: 3rem;
    }

    .event-right{
        padding-left: 3rem ;
    }

    .event-r-header{
        margin-bottom: 2rem;
    }

    .event-r-container{
        margin: 8rem 0;
    }
/* end event */

/* past-event-main */
    .past-event-main{
        display: flex;
    }

    .past-item-bg{
        width: 200%;
    }

    .past-event-content{
        padding: 0 5rem;
    }

    .past-event-content h2, 
    .past-event-content h4{
        margin-bottom: 1rem;
    }

    .past-event-content hr{
        width: 50px; 
        margin: 0 auto 1rem;
        opacity: .5;
    }
    .past-event-content p,
    .past-event-content h2, 
    .past-event-content h4{
        text-align: center;
    }

    .past-item-bg img{
        width: 100%;
    }

    .past-item-bg-r{
        position: relative;
        top: -50px;
        z-index: -1;
    }
    
    .past-item-bg-l{
        position: relative;
        top: 50px;
        z-index: -1;
    }

    .past-event-content{
        position: relative;
        top: 70px;
    }
    
/* end past-event-main */

/* contact */

 .footer-main{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
 }
 .footer-main a{
    text-decoration: none;
 }
 .footer-main .ft-icon{
    font-size: 20px;
    color: orange;
 }
/* end contact */


/* Media queries */
@media (min-width: 992px) and (max-width: 1400px) { /* laptop/desktop */

    #section-banner .container{
        right: 5%
    }

    /* past event */
    .past-event-content{
        position: relative;
        top: 25px;
    }
    /* end past event */

    /* event */
    .event-r-container{
        margin: unset;
    }
    /* event event */
}

@media (min-width: 451px) and (max-width: 991px) { /* Tablet */
    /* about */
        .about-main{
            flex-direction: column;
        }

        .about-item{
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 1rem;
        }

        .card img{
            height: 500px;
        }
    /* end about */

    /* event */
        .event-r-container{
            margin: unset;
        }

        .event-left, .event-right{
            padding: 3rem 0;
        }

        .event-left{
            padding-right: 1rem;
        }
        .event-right{
            padding-left: 1rem;
        }
    /* end event */

    /* past event */
        .past-event-content{
            padding: 0 1.5rem;
            top: 0;
        }
    /* end past event */
}

@media (max-width: 450px) { /* Mobile */
    
    /* banner */
        #section-banner img{
            /* width: 100%; */
            height: 100%;
        }

        #section-banner .container{
            position: relative;
            right: 0;
        }

        .banner-detail{
            margin: 1rem 2rem;
            text-align: center;
        }

        .banner-header h1{
            font-size: 18px;
        }
    /* end banner */

    /* about */
        .about-main{
            flex-direction: column;
        }

        .about-item{
            width: 100%;
            padding: 0 1rem;
            margin-bottom: 1rem;
        }
    /* end about */

    /* event */
        .event-main{
            flex-direction: column;
            padding: 3rem 0;
        }

        .event-left, .event-right{
            width: 100%;
            padding: 1rem;
        }

        .event-r-container{
            margin: unset;
        }
        .event-left{
            /* padding-right: unset; */
        }
        .event-right{
            /* padding-left: unset; */
        }
    /* end event */
    
    /* past event */
    .past-item-bg{
        display: none;
    }
    .past-event-content{
        position: unset;
        padding: 1rem;
    }
    /* end past event */

    /* footer */
        .ft-copyright {
            text-align: center;
        }
    /* end footer */
}